/* Settings */
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --main-font-color: #000000;
  --second-font-color: #FFFFFF;
  --btn-bg-color: #1EBCD4;
}
/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  color: var(--main-font-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  height: auto;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  /* max-width: 1920px; */
  padding-left: 6%;
  padding-right: 6%;
  margin: 0 auto;
}

/* Start Page */

.header {
  padding-top: 90px;
  padding-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo{
  max-width: 370px;
  min-height: 37px;
}
.logo > path {
  fill: var(--main-font-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  font-weight: 500;
}

.nav__item {
  margin-left: 8vw;
  position: relative;
}

.nav__item:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  display: block;
  height: 1px;
  width: 0;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  background-color: var(--main-font-color)
}
.nav__item:hover:after {
  width: 100%;
  left: 0;
}

.promo__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 84px;
}

.promo__title {
  max-width: 924px;
  font-weight: 700;
  font-size: 95px;
  line-height: 116px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.promo__img {
  width: 247px;
  height: 222px;
}

.promo__text {
  padding-top: 51px;
  max-width: 560px;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}

.promo__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.promo__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__social--item {
  margin-right: 32px;
}

.promo__btn {
  min-width: 382px;
  padding: 29px;
  margin-right: 170px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  line-height: 29px;
  cursor: pointer;
  overflow: visible;
  outline: none;
  background-color: #fff;
  border: 2px solid var(--main-font-color);
}

.promo__btn:hover {
  color: var(--main-font-color);
  background-color: var(--btn-bg-color);

}

/* Projects */
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__left {
  min-width: 50%;
}

.projects__right {
  min-width: 50%;
  text-align: center;
}

.projects__right h3 {
  padding-top: 99px;
  padding-bottom: 104px;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  color: var(--second-font-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.projects__left--item {
  text-align: center;
  padding-top: 96px;
}

.projects__left--item > h3 {
  margin-right: 150px;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  color: var(--second-font-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.italent {
  position: relative;
  background-color: #BAD4E7;
}

.itelent__overlay{
  width: 100%;
  height: 0;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 18%;
  padding-right: 18%;
  overflow: hidden;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  background-color: #B3D0E5;
}

.loya__overlay{
  width: 100%;
  height: 0;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 18%;
  padding-right: 18%;
  overflow: hidden;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  background-color: #D2DBED;
}

.merch__overlay{
  width: 100%;
  height: 0;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 18%;
  padding-right: 18%;
  overflow: hidden;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  background-color: #EFC5B7;
}

.overlay__title, 
.loya__title, 
.merch__title {
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  color: var(--second-font-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overlay__dscr, 
.loya__dscr,
.merch__dscr {
  padding-bottom: 65px;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: var(--second-font-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ovarlay__tags, 
.loya__tags,
.merch__tags {
  max-width: 535px;
  padding-bottom: 70px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--second-font-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.italent:hover .itelent__overlay {
  height: 100%;
  padding-top: 350px;
}

.loya {
  position: relative;
  padding-bottom: 53px;
  background-color: #D2DBED;
}

.loya:hover .loya__overlay {
  height: 100%;
  padding-top: 350px;
}

.merch {
  position: relative;
  background-color: #EFC5B7;
}

.merch:hover .merch__overlay {
  height: 100%;
  padding-top: 350px;
}

